In [9]:
USE DB_JP_SQL_BASICO;

ALTER TABLE 
    INSTRUCTOR
ADD
    NAME VARCHAR(255)

# Instructor\_Imparts

In [10]:
INSERT INTO INSTRUCTOR(NAME)
VALUES
    ('Joe Doe'),
    ('Jony Dim'),
    ('Jimy Dwight'),
    ('Jean Sean')

In [11]:
INSERT INTO IMPARTS
VALUES
    (1, 1, 1, 2023, 'CS101'),
    (2, 3, 1, 2023, 'PHY101'),
    (3, 4, 1, 2023, 'HT101')

In [16]:
SELECT IMP.ACRONYM, INS.NAME
FROM IMPARTS AS IMP
    INNER JOIN
    INSTRUCTOR AS INS
ON 
    INS.ID = IMP.ID

ACRONYM,NAME
CS101,Joe Doe
PHY101,Jony Dim
HT101,Jimy Dwight

In [17]:
SELECT INS.NAME, COUNT(*)
FROM IMPARTS AS IMP
    INNER JOIN
    INSTRUCTOR AS INS
ON 
    INS.ID = IMP.ID
GROUP BY
    INS.NAME

NAME,(No column name)
Jimy Dwight,1
Joe Doe,1
Jony Dim,1